.styles_faq-row-wrapper__3vA1D {
    border-radius: 8px;
    margin-top: 10px;
  }
  .styles_row-body__1NvUo {
    padding: 0px 0px !important;
  }
  .styles_row-title-text__1MuhU {
    padding: 0 10px;
  }

  .faq_top{
    text-align: center;
    margin: 2rem 0;;
  }
  .faq_top h2{

  }
  .faq_top p{
    color:#fff;

  }